[Desktop Entry]
Type=Application
Name=Todoist
Comment=task manager and to-do list app
Encoding=UTF-8
Exec=/home/guilherme/Programs/Applications/todoist/Todoist-linux-9.4.0-x86_64.AppImage %U
Icon=/home/guilherme/Documents/Configs/desktop_icons/icon_img/todoist.png
Categories=Office;Utility
Terminal=false
